<ul class="posts">
    {% for post in posts %}
    <li class="post">
          <div class="post-header font">
            <h2><a href="{{ url_for('.post', post_id=post.id) }}"> {{ post.title }} </a></h2>
            <div class="post-date"> {{ moment(post.timestamp).fromNow() }} </div>
          </div>

          <div class="post-digest markdown-body editormd-html-preview">
            {{ post.digest| markdown }}
          </div>

          <div class="post-footer">
              {% if current_user == post.author %}
              <a href="{{ url_for('.edit', post_id=post.id) }}">Edit</a>
              {% endif %}
              <a href="{{ url_for('.post', post_id=post.id) }}">Read More...</a>
          </div>
    </li>
    {% endfor %}
</ul>
