    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.index') }}">Wejie</a>
                <a class="navbar-brand" href="{{ url_for('main.archive') }}">Archive</a>
                <a class="navbar-brand" href="{{ url_for('main.tags') }}">Tags</a>
                <a class="navbar-brand" href="{{ url_for('main.about') }}">About</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('main.create_post') }}">New Post</a></li>
                    <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
