{% extends 'base.html' %}

{% block title %}
    Archives
{% endblock %}

{% block page %}
    <article>
        <header>Archive</header>
        <div>
            <section>
                {% for posts_by_year, year in posts %}
                    <div>
                        <h2>{{ year }}</h2>
                        <div>
                            {% for post in posts_by_year %}
                                <li>
                                  <div><a href="{{ url_for('.post', post_id=post.id) }}"> {{ post.title }} </a></div>
                                  <div> {{ post.timestamp }}</div>
                                </li>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </section>

            <aside>
                Hello World
            </aside>
        </div>
    </article>
{% endblock %}

