{% extends "base.html" %}

{% block page %}
    <article class="page">
      <header class="article-header">
        <h1 class="quot font"> May the force be with you. </h1>
      </header>

      <section>
          {% include '_brief_posts.html' %}
      </section>
      <div>
        <a class="btn btn-center-bottom" href="{{ url_for('main.archive') }}">Posts Archive</a>
      </div>
    </article>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ pagedown.include_pagedown() }}
{% endblock %}
