{% extends "base.html" %}
{% import "_macros.html" as macros %}


{% block page %}
    <article class="page">
      <header class="article-header">
        <h1 class="quot font"> May the force be with you. </h1>
      </header>

      <section>
          {% include '_brief_posts.html' %}
      </section>

      {% if pagination %}
          <div class="pagination">
              {{ macros.pagination_widget(pagination, '.index')}}
          </div>
      {% endif %}
    </article>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ pagedown.include_pagedown() }}
{% endblock %}
