{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title%}
    {{ post.title }}
{% endblock %}

{% block page_content %}
    <article>
        <header>
            <h1> {{ post.title }} </h1>
        </header>
        <div>
            <section> {{ post.body }} </section>
        </div>

        <div class="post-footer">
            {% if current_user == post.author %}
            <a href="{{ url_for('.edit', post_id=post.id) }}">
                <span class="label label-primary">Edit</span>
            </a>
            {% endif %}
        </div>
    </article>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
